@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC 5 Authentication Project</h1>
    <p class="lead">This project is intended to utilize OWIN services as well as external logins. You can login with your Google, Facebook, or Twitter Accounts.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Facebook</h2>
        <p>
            Facebook allows users to create developer accounts which aids us in creating applications that utilize Facebooks many different APIs and features. This project uses the "Facebook Login" API and is setup to only use information on the user.
        </p>
        <p><a class="btn btn-primary" href="https://www.facebook.com">Facebook &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PLACEHOLDER HEADER</h2>
        <p>PLACEHOLDER TEXT</p>
        <p><a class="btn btn-primary" href="">Google &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PLACEHOLDER HEADER</h2>
        <p>PLACEHOLDER TEXT</p>
        <p><a class="btn btn-primary" href="">Twitter &raquo;</a></p>
    </div>
</div>